*{
  box-sizing: border-box;
}

body{
  background-color: #216044;
  color: #F2E9C4;
}

img{
  height: 12rem;
  width: 8.25rem;
  padding: 1rem;
}

span.cards{
  font-size: 160px;
  vertical-align: middle;
  margin: 0px;
}

span.hearts{
  color: red;
}

span.diamonds{
  color: red;
}
input{
  background-color: beige;
  margin: 1.5rem 10px 10px 0px;
  width: 10rem;
  height: 1.5rem;
  border-radius: 10px;
}

button{
  font-size: 1rem;
  color: white;
  width: 10rem;
  height: 2rem;
  display: block;
  margin: auto;
  border-radius: 10px;
  background-color: #E0342A;
  margin-top: 2rem;
}

button:hover{
  background-color: #435E79;
  color: white;
}

form{

}

.row::after{
    content: "";
    clear: both;
    display: table;
}

.block{
  display: block;
}

.col-sm-1{
  width: 100%
  border: 1px solid black;
}

@media (min-width: 860px){
  .col-md-3{
    width: 25%;
    float: left;
  }

  .col-md-4{
    width: 33.333%;
    float: left;
  }

  .block{
    display: inline;
  }

  .left{
    text-align: left;
  }

  button{
    margin: 0px;
    margin-top: 2rem;
  }

  .top-padding{
    padding-top: 140px;
  }

}


.centered-text{
  text-align: center;
}

#header{
  padding-top: 50px;
  padding-bottom: 40px;
}

.chip{
  height: 8rem;
  width: 8rem;
}

.inline{
  display: inline-block;
}

.no-margin{
  margin: 0;
}

.hidden{
  opacity: 0;
}

#player1Values{
  font-size: 2rem;
}
